body {
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
}

.app {
  width: 100%;
  background-color: #eeeeee;
}

.green-btn {
  background-color: #4caf50;
  color: white;
}

.green-btn:hover {
  background-color: #3e8e41;
}
